<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/CV.md">CV</a></li>
        <li><a href="/about.html">About</a></li>
    </ul>
</nav>

    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ '/portfolio' | prepend: site.baseurl }}/">Portfolio</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim.
      </span>
    </footer>
  </body>
</html>
